body{
    margin: auto;
}


h1{
    text-align: center;
    font-style: bold;
}

p{
    
}

.lista{
    border: 1px solid black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 5px;
}





